<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="autenticacion">
    
    <select id="loginEscritorio" resultType="modelo.pojo.Empleado" parameterType="map">
        SELECT idEmpleado, nombre, apellidoPaterno, apellidoMaterno, 
        username, contrasenia, fechaNacimiento, sexo, fotografia, idRolEmpleado 
        FROM empleado 
        WHERE username = #{username} AND contrasenia=#{contrasenia}
    </select>
    
    
    <select id="loginMovil" resultType="modelo.pojo.Cliente">
        SELECT idCliente, nombre, apellidoPaterno, apellidoMaterno, calle, numero, telefono FROM cliente 
        WHERE correo=#{correo} AND contrasenia=#{contrasenia}
    </select>
</mapper>
